<!DOCTYPE html>
<html>
<head>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.169.0.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>HangOut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="staticfiles/js/jquery.js"></script>
    <link href="staticfiles/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body style="font-family:'Microsoft YaHei'">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header navbar-static-top">
            <a class="navbar-brand" href="https://s3.amazonaws.com/group6-activity-website/all_activities_new.html" style="font-size:2.5em">HangOut</a>
        </div>
        <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">  </a>
        <!--<a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">登录</a>
        <a class="navbar-brand navbar-right" href="#" style="font-size:1.5em">注册</a>-->
    </nav>

    <div class="container" style="width:100%;padding-top:5%">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-6 col-lg-offset-1">
                <img src="staticfiles/img/0.jpg" class="img-responsive img-rounded">
            </div>

            <div class="col-sm-9 col-md-6 col-lg-4" style="border:2px solid skyblue">
                <ul class="nav nav-tabs">
                   <li class="active"><a href="#">Login</a></li>
                   <li><a href="https://s3.amazonaws.com/group6-activity-website/register.html">Register</a></li>
                </ul>

               <form id="user_login" class="form-horizontal" role="form" style="padding-top:5%" action="/login/" method="post">
                   <!-- {% csrf_token %} -->
                    <div class="form-group">
                       <label for="email" class="col-sm-2 control-label">Account</label>
                       <div class="col-sm-10">
                          <input id="username" type="text" class="form-control" id="email" name="account"
                             placeholder="请输入帐号" value="">
                   <!-- {% if errors.account %}
                        {{errors.account}}
                   {% endif %} -->
                       </div>
                    </div>
                    <div class="form-group">
                       <label for="password" class="col-sm-2 control-label">Password</label>
                       <div class="col-sm-10">
                          <input id="password" type="password" class="form-control" id="password" name="password"
                             placeholder="Please enter password" value="">
                   <!-- % {if errors.password %}
                        {{errors.password}}
                   {% endif %} -->
                       </div>
                    </div>
                </form>
                    <div class="form-group">
                       <div class="col-sm-offset-1 col-sm-10">
                          <input type="submit" class="btn btn-primary btn-lg" value="Login" onclick="Login()">
                       </div>
                    </div>
            </div>
        </div>
    </div>
    <script>
        function Login() {
          $('input[type="submit"]').attr('disabled', true);
          var info = {
                username: $("#username").val(),
                password: $("#password").val(),
            };
            localStorage.setItem('hangout_account', $("#username").val());

            console.log(JSON.stringify(info));

            $.ajax({
                url: 'https://w217imcezl.execute-api.us-east-1.amazonaws.com/test/login',
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    //alert(data.msg);
                    console.log(data);
                    $('input[type="submit"]').attr('disabled', false);
                    if (data.Error) {
                      if (data.Error == 'UserNotFoundException') {
                        alert('User not found');
                        return;
                      }
                      if (data.Error == 'NotAuthorizedException') {
                        alert('Incorrect account or password');
                        return;
                      }
                      if (data.Error == 'TooManyRequestsException') {
                        alert('Operation too frequently');
                        return;
                      }
                      alert('Other errors');
                      return;
                    }

                    var user = data.user.AuthenticationResult;
                    var res = data.res;
                    localStorage.setItem('hangout_accesstoken', user.AccessToken);
                    localStorage.setItem('hangout_idtoken', user.IdToken);
                    localStorage.setItem('hangout_refreshtoken', user.RefreshToken);
                    localStorage.setItem('hangout_id', res.id);
                    console.log('done');
                    location.href = 'https://s3.amazonaws.com/group6-activity-website/all_activities_new.html';
                },
                data: JSON.stringify(info),
            });
        }
    </script>
</body>
</html>
